*{
  margin: 0;
  padding: 0;
}

html{
  font-family: "PingFang SC", "Lantinghei SC", "Helvetica Neue", Arial, "Microsoft YaHei", "STHeitiSC-Light", "simsun", sans-serif;
  background: #f1f2f9;
}
body{
  height: 100vh;
  width: 100vw;
  background-size: 100% 100%;
  background-image: url('https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1586970320363&di=bc84d55fe184ad4c198b293779e7ce5f&imgtype=0&src=http%3A%2F%2Fpic1.win4000.com%2Fwallpaper%2Fb%2F55597435bb036.jpg');
}
a{
  text-decoration: none;
}
.box{
  padding: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* 导航 */
.navs{
  width: 400px;
  overflow: hidden;
}
.navs .nav-list{
  width: 33.33%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  margin-bottom: 30px;
}
.navs a{
  text-align: center;
}
.navs .img-box{
  width: 80px;
  height: 80px;
  background: #fff;
  border-radius: 40px;
  margin-bottom: 14px;
}
.navs img{
  width: 50px;
  height: 50px;
  margin: 15px;
  border-radius: 25px;
}
.navs .nav-txt{
  font-size: 16px;
  color: rgba(255,255,255,0.9);
}

/* 待办清单 */
.todo-list{
  background: #fff;
  height: 600px;
  width: 360px;
  border-radius: 8px;
  position: relative;
}
.todo-list h2{
  padding: 6px;
  font-size: 16px;
  color: #666666;
}
.todo-list .todo-title{
  background: #ffccc7;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.todo-list .finished-title{
  background: #d9f7be;
}
.todo-list .plus-box{
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background: #13c2c2;
  cursor: pointer;
}
.todo-list .plus-box img{
  width: 20px;
  height: 20px;
  margin: 15px;
}
.todo-list .icon{
  width: 24px;
  height: 24px;
  display: inline-block;
}
.todo-list .icon-checked{
  background: url('../images/icon-checked.png');
  background-size: 100% 100%;
}
.todo-list .icon-check{
  background: url('../images/icon-check.png');
  background-size: 100% 100%;
}
.todo-list .todo-box{
  height: 300px;
  overflow-y: scroll;
}
.todo-list .finished-box{
  height: 200px;
  overflow-y: scroll;
}
.todo-list .list-box{
  color: #444444;
  font-size: 16px;
  padding: 10px 20px;
}
.todo-list .list-item{
  width: 300px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.todo-list .list-txt{
  margin-left: 10px;
  width: 90%;
}
.todo-list .list-txt.finished{
  text-decoration: line-through;
  color: #bfbfbf;
}